<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>
    Our names are Bert ten Napel and Muniru Awal-Umaru<br>
    We are third year BIN students<br>
    We have built this website to analyse data that can be retrieved from different kind of smartwatches.<br>
    The reason we made this, is because we wanted a more general version of the fitbit/samsung/apple dashboard<br>
    so everyone can view their data and compare it using 1 website and stay healthy using our fit, bit by bit dashboard<br>
</p>


</body>
</html>