<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous">
    </script>

</head>


<body>
<nav class="navbar navbar-expand-lg fixed-top bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="https://youtu.be/dQw4w9WgXcQ?si=gmANNMSIjaE85Dpi">Getting fit bit by bit</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8080/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8080/file_upload">File upload page</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="http://localhost:8080/about">About</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<body>
<p>
    Our names are Bert ten Napel and Muniru Awal-Umaru<br>
    We are third year BIN students<br>
    We have built this website to analyse data that can be retrieved from different kind of smartwatches.<br>
    The reason we made this, is because we wanted a more general version of the fitbit/samsung/apple dashboard<br>
    so everyone can view their data and compare it using 1 website and stay healthy using our fit, bit by bit dashboard<br>
</p>

<footer>
    <b>Authors:</b> Bert ten Napel & Muniru Awal-Umaru
    <b>Mail Bert:</b> <a href="mailto:l.ten.napel@st.hanze.nl">l.ten.napel@st.hanze.nl</a>
    <b>Mail Muniru:</b> <a href="mailto:m.awal-umaru@st.hanze.nl">m.awal-umaru@st.hanze.nl</a>
</footer>


</body>
</body>
</html>