<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<H2>Chart!</H2>
<div>
    <!-- Canvas element for the weekly chart -->
    <canvas id="weekChart" width="400" height="200"></canvas>
    <!-- Buttons to navigate to the previous and next weeks -->
    <button onclick="previousWeek()"><--</button>
    <!-- Dropdown menu to select the week -->
    <select id="weekSelector"></select>
    <button onclick="nextWeek()">--></button>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    // Get the canvas element for the  chart
    const ctxWeek = document.getElementById('weekChart');
    // Variables to store step data and weekly data
    let stepData;
    let weekData;
    let currentWeekIndex = 0;

    let monthData;
    let monthIndex = 0;

    // Asynchronous function to fetch step data from the server
    async function getStepData() {
        // Fetch step data from the server
        let unzip = await fetch("/unzip");
        let response = await fetch("/chartdata");
        stepData = await response.json();

        // Process step data to get steps by week
        weekData = getStepsByWeek(stepData);
        // Resize weekly data to fit into groups of 7 days
        weekData = reSize(weekData, 7);
        // Populate the dropdown menu with available weeks
        populateWeekDropdown();
        // Update the chart with the initial data
        updateWeekChart();
        console.log(getStepsByWeek(stepData));
        console.log(getStepsByMonth(stepData));
    }

    function getStepsByMonth(data){
        let steps = new Map();
        let mindate = Math.min(...data.stepData.map(steps => steps.dateTime));
        let minYear = new Date(mindate).getFullYear();
        let maxDate = Math.max(...data.stepData.map(steps => steps.dateTime));
        let maxYear = new Date(maxDate).getFullYear();

        for (let year = minYear; year < maxYear + 1; year++) {
            steps.set(year, {1:0,2:0,3:0,4:0,5:0,6:0,7:0,8:0,9:0,10:0,11:0,12:0});
        }

        
        data.stepData.forEach(entry=>{
            let date = new Date(entry.dateTime);
            let year = date.getFullYear();
            let month = date.getMonth() + 1;
            console.log(steps.get(year)[month])
            //steps.get(year)[month] += entry.value;
        })
        return Array.from(steps, ([key, value]) => ({ key: key, value: value }));
    }

    // Function to calculate steps by week
    function getStepsByWeek(data) {
        let results = new Map();
        let dayLen = 86400000;
        let minDate = Math.min(...data.stepData.map(steps => steps.dateTime));
        minDate -= new Date(minDate).getDay() * dayLen;
        let maxDate = Math.max(...data.stepData.map(steps => steps.dateTime));
        maxDate +=  (6 - new Date(maxDate).getDay())  * dayLen;

        // Loop through each day in the week
        for (let currentDate = minDate; currentDate <= maxDate; currentDate += dayLen) {
            const dateKey = new Date(currentDate).toLocaleDateString("nl-NL");
            results.set(dateKey, 0);
        }

        // Update weekly data with values from the step data
        data.stepData.forEach(entry => {
            let dateKey = new Date(entry.dateTime).toLocaleDateString("nl-NL");
            results.set(dateKey, results.get(dateKey) + entry.value);
        });

        // Convert Map to an array of objects
        return Array.from(results, ([dateKey, totalValue]) => ({ dateKey, totalValue }));
    }

    // Function to resize data into groups of a specified size
    function reSize(data, stepSize){
        let newData = []
        for (let i = 0; i < data.length; i+= stepSize) {
            newData.push(data.slice(i, i + stepSize))
        }
        return newData
    }

    // Function to populate the dropdown menu with available weeks
    function populateWeekDropdown() {
        const dropdown = document.getElementById('weekSelector');
        dropdown.innerHTML = '';
        weekData.forEach((week, index) => {
            const option = document.createElement('option');
            option.value = index;
            option.text = week[0]["dateKey"];
            dropdown.appendChild(option);
        });
    }

    // Function to update the dropdown menu's selected index
    function updateDropdownIndex(){
        const dropdown = document.getElementById('weekSelector');
        dropdown.selectedIndex = currentWeekIndex;
    }

    // Function to update the chart with the data for the selected week
    function updateWeekChart(){
        stepWeekChart.data.datasets[0].data = weekData[currentWeekIndex];

        let labels = weekData[currentWeekIndex].map(steps => steps.dateKey);
        stepWeekChart.data.labels = labels;

        let steps = weekData[currentWeekIndex].map(steps => steps.totalValue);
        stepWeekChart.data.datasets[0].data = steps;

        // Update the dropdown menu's selected index
        updateDropdownIndex();

        // Update the chart
        stepWeekChart.update();
    }

    // Function to navigate to the previous week
    function previousWeek(){
        if (currentWeekIndex > 0 ){
            currentWeekIndex--;
            updateWeekChart();
        }
    }

    // Function to navigate to the next week
    function nextWeek(){
        if (currentWeekIndex < weekData.length -1 ){
            currentWeekIndex++;
            updateWeekChart();
        }
    }

    // Event listener for the dropdown menu's change event
    document.getElementById('weekSelector').addEventListener('change', function() {
        currentWeekIndex = parseInt(this.value);
        updateWeekChart();
    });

    // Create a new Chart.js chart for the weekly chart
    const stepWeekChart = new Chart(ctxWeek, {
        type: "bar",
        data:{
            labels:["Sun","Mon","Tue","Wen","Thu","Fri","Sat"],
            datasets: [{
                label: "Step Count",
                data:[0,0,0,0,0,0,0],
                borderColor: 'blue',
                borderWidth: 1,
                fill: false,
            }]
        },
        options: {
            scales: {
                y:{
                    beginAtZero: true,
                }
            }
        }
    });

    // Call the getStepData function to fetch and display the initial data
    getStepData();

</script>

</body>
</html>
