<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<H2>My chart!</H2>
<div>
    <canvas id="myChart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>

    const ctx = document.getElementById('myChart');

    async function getStepData() {
        let response = await fetch("/chartdata");
        let data = await response.json();
        let subset = data.stepData.slice(0, 10);
        console.log(subset);

        // Call functions processing step data
        plotSteps(data.watchType, subset);

    }

    function plotSteps(watchType, data) {
        if (watchType === "FITBIT")
            modifier = 1000;
        else if (watchType === "SAMSUNG")
            modifier = 1;

        let labels = data.map(steps => { return new Date(steps.dateTime * modifier).toLocaleDateString("nl-NL")} );
        let steps = data.map(steps => { return steps.value} );

        // all sum of all

        new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: '# of Votes',
                    data: steps,
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    }

    getStepData();

</script>


</body>
</html>